This script will make it so all images are normalized the same by taking the global min and max per band and applying it to each image

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
#function to get files from storage bucket
def get_files(bucket_path):

  """argument is the path to where the numpy
  save files are located, return a list of filenames
  """
  all = []

  #list of files
  files = os.listdir(bucket_path)

  #get list of filenames we will use, notte I remove images that don't have a target due to clouds
  file_names = []
  for f in files:
    if f.endswith('.npy'):


      all.append(os.path.join(bucket_path, f))
  return(all)

#function to get min and max of each column
def minMax(x):
    return pd.Series(index=['min','max'],data=[x.min(),x.max()])

Now get the min-max globally but use the 5 and 95% cutoffs

In [3]:
#function to get the 5 and 95% cutoffs
#function to get min and max of each column
def minMax(x):
    return pd.Series(index=['min','max'],data=[x.percentile(5),x.percentile(95)])

In [6]:
#path to training, validation and testing
train_files = pd.read_csv('/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/l8_sent_collection2_proj_mtbs_0_128_training_files.csv')['Files'].tolist()
val_files = pd.read_csv('/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/l8_sent_collection2_proj_mtbs_0_128_validation_files.csv')['Files'].tolist()
test_files = pd.read_csv('/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/l8_sent_collection2_proj_mtbs_0_128_testing_files.csv')['Files'].tolist()



final = []


def get_min_max(pathways):
    
    
    for f in pathways:

        base = os.path.basename(f)
        
        try:
            x = np.load(f)
            x = x.astype(float)
            x[x == 0] = np.nan
            x[x == -999] = np.nan

            #convert to dataframe
            in_shape = x.shape

            #turn to dataframe to normalize
            x = x.reshape(x.shape[0] * x.shape[1], x.shape[2])

            # x = pd.DataFrame(x).dropna().sample(frac = 0.7)

            x = pd.DataFrame(x).dropna()
            # min_max = x.apply(minMax)

            final.append(x)
        except:
            
            print(f"{f} failed")
            
            
            os.remove(f)
        
    return()

get_min_max(train_files)
get_min_max(test_files)
get_min_max(val_files)

final4 = pd.concat(final).quantile([.01, .99])
final4
final4.reset_index().to_csv("/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/l8_sent_collection2_global_min_max_cutoff_proj_mtbs.csv", index = False)

In [17]:
't'

't'

In [7]:
final4

         0     1     2      3      4      5      6      7      8    9
0.01 -54.0 -49.0 -63.0  -49.0 -129.0 -155.0   21.0  -68.0   -9.0  1.0
0.99  44.0  55.0  51.0  175.0   73.0   18.0  974.0  522.0  686.0  1.0

In [39]:

min_max = pd.read_csv("/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/l8_sent_collection2_global_min_max_cutoff_proj.csv").reset_index(drop = True)
min_max2 = pd.read_csv("/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/l8_sent_collection2_global_min_max_cutoff_proj.csv").reset_index(drop = True)


all_mins = pd.concat([min_max, min_max2]).min(axis = 0).to_frame().T
all_maxs  = pd.concat([min_max, min_max2]).max(axis = 0).to_frame().T

min_max = pd.concat([all_mins, all_maxs]).reset_index(drop = True)
print(min_max)

   index     0     1     2      3      4      5      6      7      8    9
0   0.01 -54.0 -49.0 -63.0  -49.0 -129.0 -155.0   21.0  -68.0   -9.0  1.0
1   0.99  44.0  55.0  51.0  175.0   73.0   18.0  974.0  522.0  686.0  1.0

In [31]:
all_mins

   index     0     1     2     3      4      5     6     7    8    9
0   0.01 -54.0 -49.0 -63.0 -49.0 -129.0 -155.0  21.0 -68.0 -9.0  1.0

In [32]:
all_maxs

   index     0     1     2      3     4     5      6      7      8    9
0   0.99  44.0  55.0  51.0  175.0  73.0  18.0  974.0  522.0  686.0  1.0

In [33]:
min_max

   index     0     1     2      3      4      5      6      7      8    9
0   0.01 -54.0 -49.0 -63.0  -49.0 -129.0 -155.0   21.0  -68.0   -9.0  1.0
1   0.99  44.0  55.0  51.0  175.0   73.0   18.0  974.0  522.0  686.0  1.0

In [37]:
min_max

   index     0     1     2      3      4      5      6      7      8    9
0   0.01 -54.0 -49.0 -63.0  -49.0 -129.0 -155.0   21.0  -68.0   -9.0  1.0
1   0.99  44.0  55.0  51.0  175.0   73.0   18.0  974.0  522.0  686.0  1.0