This script will make it so all images are normalized the same by taking the global min and max per band and applying it to each image

In [5]:
import pandas as pd
import numpy as np
import os

In [6]:
#function to get files from storage bucket
def get_files(bucket_path):

  """argument is the path to where the numpy
  save files are located, return a list of filenames
  """
  all = []

  #list of files
  files = os.listdir(bucket_path)

  #get list of filenames we will use, notte I remove images that don't have a target due to clouds
  file_names = []
  for f in files:
    if f.endswith('.npy'):


      all.append(os.path.join(bucket_path, f))
  return(all)

#function to get min and max of each column
def minMax(x):
    return pd.Series(index=['min','max'],data=[x.min(),x.max()])

In [3]:
#path to training, validation and testing
train_files = pd.read_csv('/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/l8_sent_collection2_wgs_0_128_training_files.csv')['Files'].tolist()
val_files = pd.read_csv('/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/l8_sent_collection2_wgs_0_128_validation_files.csv')['Files'].tolist()
test_files = pd.read_csv('/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/l8_sent_collection2_wgs_0_128_testing_files.csv')['Files'].tolist()

final = []


def get_min_max(pathways):
    
    
    for f in pathways:

        base = os.path.basename(f)

        x = np.load(f)[:, :, :-1]
        x = x.astype(float)
        x[x == 0] = np.nan
        x[x == -999] = np.nan

        #convert to dataframe
        in_shape = x.shape

        #turn to dataframe to normalize
        x = x.reshape(x.shape[0] * x.shape[1], x.shape[2])

        x = pd.DataFrame(x)


        min_max = x.apply(minMax)

        final.append(min_max)
        
    return()

get_min_max(train)
get_min_max(test)
get_min_max(val)

()

In [5]:
#path to training, validation and testing
train = get_files('/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/l8_sent_collection2_0_training_data_512')
test = get_files('/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/l8_sent_collection2_0_testing_data_512')
val = get_files('/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/l8_sent_collection2_0_validation_data_512')
# mtbs = get_files('/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/mtbs_1985_c2_512_data')

final = []
def get_min_max(pathways):
    
    
    for f in pathways:

        base = os.path.basename(f)

        x = np.load(f)
        x = x.astype(float)
        x[x == 0] = np.nan
        x[x == -999] = np.nan

        #convert to dataframe
        in_shape = x.shape

        #turn to dataframe to normalize
        x = x.reshape(x.shape[0] * x.shape[1], x.shape[2])

        x = pd.DataFrame(x)


        min_max = x.apply(minMax)

        final.append(min_max)
        
    return()

get_min_max(train)
get_min_max(test)
get_min_max(val)
# get_min_max(mtbs)

NameError: name 'get_files' is not defined

In [4]:
't'

NameError: name 'final' is not defined

In [63]:
final2 = pd.concat(final).apply(minMax).reset_index()

print(final2.head())

#save min max
final2.to_csv("/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/l8_sent_collection2_0_global_min_max_wgs.csv", index = False)

           0        1        2       3       4       5       6       7       8
min -32768.0 -20599.0 -20380.0 -1759.0 -1699.0 -1919.0 -1720.0 -1522.0 -1519.0
max  32767.0  22431.0  20380.0  1735.0  1698.0  1650.0  1774.0  1555.0  1522.0

In [ ]:
final2 = final2.reset_index(drop = True)

Now get the min-max globally but use the 5 and 95% cutoffs

In [3]:
#function to get the 5 and 95% cutoffs
#function to get min and max of each column
def minMax(x):
    return pd.Series(index=['min','max'],data=[x.percentile(5),x.percentile(95)])

In [7]:
#path to training, validation and testing
train_files = pd.read_csv('/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/nbac_modis_0_128_training_files.csv')['Files'].tolist()
val_files = pd.read_csv('/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/nbac_modis_0_128_validation_files.csv')['Files'].tolist()
test_files = pd.read_csv('/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/nbac_modis_0_128_testing_files.csv')['Files'].tolist()



final = []


def get_min_max(pathways):
    
    
    for f in pathways:

        base = os.path.basename(f)

        x = np.load(f)
        x = x.astype(float)
        x[x == 0] = np.nan
        x[x == -999] = np.nan

        #convert to dataframe
        in_shape = x.shape

        #turn to dataframe to normalize
        x = x.reshape(x.shape[0] * x.shape[1], x.shape[2])

        # x = pd.DataFrame(x).dropna().sample(frac = 0.3)

        x = pd.DataFrame(x).dropna()
        # min_max = x.apply(minMax)

        final.append(x)
        
    return()

get_min_max(train_files)
get_min_max(test_files)
get_min_max(val_files)

final4 = pd.concat(final).quantile([.01, .99])
final4
final4.reset_index().to_csv("/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/modis_global_min_max_cutoff.csv", index = False)

In [8]:
final4

,0,1,2,3,4,5,6,7,8,9,10
0.01,-300.0,-156.0,-176.0,-166.0,-309.0,-820.0,-1112.0,15.0,-28.0,-17.0,1.0
0.99,198.0,1299.0,145.0,277.0,1153.0,362.0,20.0,801.0,364.0,518.0,1.0

In [11]:
# final2 = pd.concat(final).quantile([.01, .99])
# final2.head()
# final2.to_csv("/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/l8_sent_collection2_0_global_min_max_cutoff.csv", index = False)

        0     1     2      3     4     5      6      7      8
0.1 -15.0 -12.0 -18.0  -20.0 -48.0 -78.0  -48.0  -56.0  -43.0
0.9  14.0  22.0  19.0  111.0  38.0  12.0  668.0  355.0  454.0

In [11]:
# final3 = pd.concat(final).quantile([.05, .95])
# final3.head()

final4 = pd.concat(final).quantile([.01, .99])
final4
# final4.reset_index().to_csv("/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/l8_sent_collection2_0_512_global_min_max_cutoff.csv", index = False)

         0     1     2      3      4      5      6      7      8
0.01 -62.0 -58.0 -61.0  -93.0 -116.0 -125.0 -238.0 -238.0 -212.0
0.99  49.0  51.0  51.0  159.0   91.0   54.0  881.0  527.0  610.0

In [12]:
final4.reset_index().to_csv("/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/l8_sent_collection2_0_512_global_min_max_cutoff.csv", index = False)

In [8]:
final5 = pd.read_csv("/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/l8_sent_collection2_0_global_min_max_cutoff.csv")

In [6]:
final[0]

        0     1      2      3      4      5       6      7      8
min -65.0 -93.0 -121.0  -93.0 -215.0 -207.0  -436.0 -343.0 -458.0
max  48.0  64.0   59.0  219.0  133.0   89.0  1110.0  492.0  852.0

In [7]:

final4 = pd.concat(final).quantile([.01, .99])
final4.head()
final4.reset_index().to_csv("/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/l8_sent_collection2_0_global_min_max_cutoff_ak_ca.csv", index = False)

         0     1     2      3      4      5      6      7      8
0.01 -63.0 -58.0 -61.0  -89.0 -117.0 -134.0 -198.0 -243.0 -181.0
0.99  64.0  67.0  64.0  185.0  101.0   49.0  928.0  538.0  643.0

In [10]:
final4.reset_index().to_csv("/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/l8_sent_collection2_0_global_min_max_cutoff_ak_ca.csv", index = False)

In [19]:
t = pd.read_csv("/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/l8_sent_collection2_0_global_min_max_cutoff.csv")

t.head()

   index     0     1     2      3      4      5      6      7      8
0   0.01 -58.0 -54.0 -58.0  -83.0 -117.0 -134.0 -189.0 -207.0 -170.0
1   0.99  53.0  58.0  56.0  179.0   92.0   46.0  940.0  539.0  652.0

In [20]:
t[['0']]

      0
0 -58.0
1  53.0

Global standardize

In [4]:
#path to training, validation and testing
train = get_files('/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/l8_sent_collection2_0_training_data_128')
test = get_files('/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/l8_sent_collection2_0_testing_data_128')
val = get_files('/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/l8_sent_collection2_0_validation_data_128')

final = []


def get_min_max(pathways):
    
    
    for f in pathways:

        base = os.path.basename(f)

        x = np.load(f)
        x = x.astype(float)
        x[x == 0] = np.nan
        x[x == -999] = np.nan

        #convert to dataframe
        in_shape = x.shape

        #turn to dataframe to normalize
        x = x.reshape(x.shape[0] * x.shape[1], x.shape[2])

        x = pd.DataFrame(x)


        # min_max = x.apply(minMax)

        final.append(x)
        
    return()

get_min_max(train)
get_min_max(test)
get_min_max(val)

()

In [6]:
final2 = pd.concat(final)

In [7]:
final2.shape

(1398226944, 9)

In [15]:
def mean_std(x):
    return pd.Series(index=['mean', 'std'],data=[x.mean(), x.std()])

In [9]:
final3 = final2.std()
final3.head()

0    802.228794
1     44.233915
2    100.134408
3     56.333927
4     40.411012
dtype: float64

In [16]:
# final4 = final2.quantile([.01, .99])
# final4.head()
final4 = final2.apply(mean_std)
final4.head()

,0,1,2,3,4,5,6,7,8
mean,15.777139,3.516196,0.439064,36.085875,-3.770175,-24.016114,231.480455,106.263485,146.140186
std,802.228794,44.233915,100.134408,56.333927,40.411012,38.783437,286.581142,166.036829,200.408613

In [17]:
final4.reset_index().to_csv("/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/l8_sent_collection2_0_global_stand.csv", index = False)

In [13]:
final4.reset_index()

,index,0,1,2,3,4,5,6,7,8
0,min,-58.000000,-54.000000,-58.000000,-83.000000,-117.000000,-134.000000,-189.000000,-207.000000,-170.000000
1,max,53.000000,58.000000,56.000000,179.000000,92.000000,46.000000,940.000000,539.000000,652.000000
2,std,802.228794,44.233915,100.134408,56.333927,40.411012,38.783437,286.581142,166.036829,200.408613

In [ ]:
Now lets get a new test dataset, and try to transform it to have the same mean and std as the final 4 dataset

In [23]:
newd = [0, 6, 8, 10, 10]

s1 = 	802.228794
m1 = 15.777139

s2 = np.std(newd)
m2 = np.mean(newd)

print(s2, m2)

#new data should have a mean of x and a std of x
def transform_mean_std(newv, s1, s2, m1, m2):
    
    #takes new value and transforms it 
    return(m1 + (newv - m2) * (s1/s2))
           
newd_trans = [transform_mean_std(i, s1, s2, m1, m2) for i in newd]
           
print(np.std(newd_trans))
print(np.mean(newd_trans))

3.7094473981982814 6.8
802.228794
15.777139000000034

In [26]:
df = pd.read_csv("/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/l8_sent_collection2_0_global_stand.csv")
df = df[['index', '6', '7', '8']]
df

  index           6           7           8
0  mean  231.480455  106.263485  146.140186
1   std  286.581142  166.036829  200.408613

In [29]:
#function to change the bands so that they are all standardized the same way
#new data should have a mean of x and a std of x
# def transform_mean_std(train_data, new_data):
    
# 	"""newv is the new value to change, s1 is the standard deviation from the input dataframe, newv is the new value to change,
# 	s2 is the standard deviation in the new column of interest, m1 is the mean from the in frame and m2 is the mean value in the new
# 	column of interest"""
	
#     #takes new value and transforms it 
#     return(m1 + (newv - m2) * (s1/s2))
    
train_data = pd.read_csv("/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/l8_sent_collection2_0_global_stand.csv")
train_data = train_data[['index', '6', '7', '8']]
train_data

  index           6           7           8
0  mean  231.480455  106.263485  146.140186
1   std  286.581142  166.036829  200.408613

In [44]:
#new image to test
new_data = final[0]
new_data = new_data[[6, 7, 8]]
# new_data

m1 = train_data.iloc[0]['6']
s1 = train_data.iloc[1]['6']

m2 = new_data[6].mean()
s2 = new_data[6].std()

#apply to column
def transform_mean_std(train_data, new_data, cols = [6,7,8]):
    
	"""newv is the new value to change, s1 is the standard deviation from the input dataframe, newv is the new value to change,
	s2 is the standard deviation in the new column of interest, m1 is the mean from the in frame and m2 is the mean value in the new
	column of interest"""
    
    for col in cols:
        
        m1 = train_data.iloc[0][str(col)]
        s1 = train_data.iloc[1][str(col)]

        m2 = new_data[col].mean()
        s2 = new_data[col].std()
        new_data[col] = new_data[col].map(lambda x: m1 + (x - m2) * (s1/s2))
    return(new_data)

In [45]:
new_data.head()

      6      7    8
0  -1.0   16.0  7.0
1  51.0  138.0  6.0
2   NaN    NaN  NaN
3   NaN    NaN  NaN
4   NaN    NaN  NaN

In [51]:
new_data2 = new_data.copy()
new_data2[6] = new_data2[6].map(lambda x: m1 + (x - m2) * (s1/s2))
new_data2.head()

           6      7    8
0 -16.541776   16.0  7.0
1  35.776021  138.0  6.0
2        NaN    NaN  NaN
3        NaN    NaN  NaN
4        NaN    NaN  NaN

In [52]:
new_data2[6].mean()

231.48045521402776

In [53]:
new_data2[6].std()

286.58114206911046

In [74]:
#apply to column
def transform_mean_std(train_data, new_data, cols):
    
# 	"""arguments are the mean and std from training data, 
#     the new data which is an dataframe representing an image,
#     and the cols to tranform the new data on.  This will make it so the new data matches
#     the mean and std of the training data"""
    
    str_cols = [str(i) for i in cols]
    
    for col in cols:
        
        m1 = train_data.iloc[0][str(col)] #first row is mean
        s1 = train_data.iloc[1][str(col)] #second row is std

        m2 = new_data[col].mean()
        s2 = new_data[col].std()
        new_data[col] = new_data[col].map(lambda x: m1 + (x - m2) * (s1/s2))
    new_data = new_data[cols]  
    return(new_data)
   
t1 = pd.read_csv("/explore/nobackup/people/spotter5/cnn_mapping/nbac_training/l8_sent_collection2_0_global_stand.csv")
t2 = final[0]

out = transform_mean_std(train_data = t1, new_data = t2, cols = [6,7,8])

out.head()

           6          7          8
0 -16.541776 -32.907704 -30.545765
1  35.776021  99.083980 -31.528885
2        NaN        NaN        NaN
3        NaN        NaN        NaN
4        NaN        NaN        NaN

In [72]:
out[8].mean()

146.1401857459853

In [73]:
out[7].std()

166.03682860552112